@font-face {
    font-family: big;
    src: url('../font/BigJohn.otf');
}

@font-face {
    font-family: slim;
    src: url('../font/SlimJoe.otf');
}

@font-face {
    font-family: grotesk;
    src: url('../font/HKGrotesk-Regular.otf');
}

@font-face {
    font-family: pier-regular;
    src: url('../font/pier-regular.otf');
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url('../font/SourceSansPro-Light.otf');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('../font/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: Against;
    src: url('../font/againts.otf');
}