@import url('normalize.css');
@import url('fonts.css');

header {
    padding: 10px 0px 10px 50px;
    font-size: 30px;
    color: #fff;

    background-image: url('../pic/redcrystals.png');
    background-size: 100%;
}
header span.title{
    font-family: big;
}

header span.description {
    font-family: slim;
}

body {
    font-family: SourceSansPro-Light;

    background-color: #565656;
}

section {
    margin: 0px 0px 0px 0px;
}

/*the whole page
*/
.app:focus {
    outline: none;
}

/*display and buttons' sections
*/
#display {
    height: 250px;
    text-align: center;
    background: #c0c0c0;

    font-size: 30px;
}

#display .results {
    margin: 0 auto;

    height: 200px;
    width: 1000px;

    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #cfcfcf;

    font-size: 60%;
}

#display .results .result {

    padding: 10px 0px 10px 0px;
    border-bottom: solid 1px #969696;
    color: #464646;
    word-wrap: break-word;
}

#display .results .result .expression {
    display: inline-block;
    position: relative;
    width: 40%;
    vertical-align: top;
}

#display .results .result .equal {
    display: inline-block;
    position: relative;
    width: 10%;
    vertical-align: top;
}

#display .results .result .answer {
    display: inline-block;
    position: relative;
    width: 40%;
    vertical-align: top;
}

#display .input .type {
    display: inline-block;
    position: relative;
    height: 42px;
    width: 700px;

    background: #c0c0c0;
    border-bottom: solid 2px #cfcfcf;
    transition: border 0.3s;
}

#display .input .type:hover {
    outline: 0;
    border-bottom: solid 2px #969696;
}

#display .input .equal {
    display: inline-block;
    position: relative;
    top: 0;
    width: 42px;
    height: 42px;

    vertical-align: top;
    font-weight: bold;
    color: #565656;
}

#display .input .equal:hover {
    background-color: #cfcfcf;
}

#operations {
    height: 200px;
    background: #e73241;

    color: white;
    letter-spacing: 3px;

    text-align: center;
}

#operations div {
    display: inline-block;
}

#operations div ul {
    display: inline-block;
    
    /*margin: 0px 10px 0px 10px;*/
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

#operations div ul li {
    height: 33px;
    vertical-align: middle;
    padding: 15px 5px 0px 5px;
    border: 1px solid #e73241;
}

#operations .trig ul li {
    width: 60px;
}

#operations .oper ul li {
    width: 50px;
}

#operations .num ul li {
    width: 35px;
}

#operations div ul li:hover {
    border: 1px solid #ef3342;
    background-color: #ef3342;
}

#operations div ul li:active {
    background-color: #a02154;
}

.fa {
    font-weight: 100;
}

/*footer elements
*/
footer {
    padding: 10px 50px 10px 50px;
    text-align: center;
    color: #969696;
}

footer .social div {
    margin-bottom: 10px;
}

footer .social div .title {
    font-family: big;
}

footer .social a:link {
    text-decoration: none;
    font-size: 10%;
    color: #969696;
}

footer .social a:hover {
    color: #e73241;
}

footer .social a:active {
    color: #a02154;
}

footer .social a:visited {
    color: #969696;
}

footer .social i.inverse {
    color: #565656;
}

footer .mark {
    margin-top: 5px;
    font-size: 80%;
}

footer .mark .author {
    font-family: Against;
    font-size: 200%;
    margin-left: 5px;
}

/*rad/deg transition
*/
.tgl {
   display: none;
}

.tgl + .tgl-btn {
    display: block;
    width: inherit;
    height: inherit;
    position: relative;
}

.tgl + .tgl-btn:after {
    left: 0;
}

.tgl + .tgl-btn:before {
    display: none;
}

.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-skewed + .tgl-btn {
    overflow: hidden;
    backface-visibility: hidden;
    transition: all .2s ease;
}

.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    display: inline-block;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
}

.tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
}

.tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
}

.tgl-skewed + .tgl-btn:active:before {
    left: -10%;
}

.tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
}

.tgl-skewed:checked + .tgl-btn:after {
    left: 0;
}

.tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
}